        body {
            font-family: 'Arial',sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #ffe4e1;
            color:#333;
            overflow-x: hidden;
        }
        header {
            background-color: #f1d900;
            color: #d6001c;
            text-align: center;
            padding:30px 0;
            position: relative;
        }
        header h1 {
            font-size: 3em;
            margin: 0;
        }
        .navbar {
            width: 100;
            display: flex;
            background-color: #cf24249c;
        }
        .nav-links {
            list-style: none;
            display: flex;
        }
        .nav-links li {
            margin: 0px 20px;
        }
        .nav-links a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            transition: color 0.3s ease;
        }

        .nav-links a:hover {
            color: #f0a500;
        }
        main {
            max-width: 800px;
            margin: 20px  auto;
            padding: 20px;
            background: white;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            border-radius: 10px;
            position: relative;
        }
        .topic {
            color: #d32f2f;
            border-left: 5px solid #d32f2f;
            padding-left: 10px;
            font-size: 2.5em;
        }
        .data {
            list-style-type: none;
            padding: 0;
        }
        .data li{
            margin: 10px 0;
            padding: 10px;
            background: #f8f9fa;
            border-left: 5px solid #4caf50;
            border-radius: 5px;
        }