@font-face {
    font-family: 'Chismas';
    src: url('image/santa_s_air_mail/Santa\'s\ Air\ Mail.ttf') format('truetype');
}
@font-face {
        font-family: 'Sharky';
        src: url('image/christmas_shaky/Christmas\ Shaky.ttf') format('truetype');
}
  
.header
{
   text-align: center;
   font-size: 75px;
   font-weight: bold;
    font-family: 'Chismas', sans-serif;
    color: white;

}
.head
{
    font-family: 'Sharky', sans-serif;
    font-size:40px;
    font-weight: bold;
    text-align: center;

}
.gift {
    width: 80px;
    height: 80px;
    background: url('image/gift2.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px; 
}
.info {
    width: 100px;
    height: 100px;
    background: url('image/PngItem_5033562.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 120px;
    right: 10px; 
}
#members {
    width: 100px;
    height: 100px;
    background: url('image/PngItem_14114.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 220px;
    right: 10px; 
}
body
{
        margin: 0;
        padding: 0;
        height: 85vh; 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        background: url('image/chrismas.png') no-repeat center center;
        background-size: cover; 
        background-attachment: fixed;
       
    }
    .poster{
        background-image: url('image/wer.jpg');
        width: 650px;
        height: 1800px;
        padding: 20px;
        text-align: center;
        display: block;
        margin: auto;
    }
    
    .hidden {
        display: none;
    }
    .hidden {
        display: none;
    }
    
    
        



.future {
        width: 500px; 
        padding: 15px; 
        margin: 10px;
        border-radius: 15px; 
        background-color: #f0f8ff;
        font-size: 25px;
        text-align: center;
        font-family: 'Sharky', sans-serif;
        color: black;
        cursor: pointer;
        transition: background-color 0.3s;
      
    }
.journey
{
        width: 500px; 
        padding: 15px; 
        margin: 10px;
        border-radius: 15px; 
        background-color: #f0f8ff;
        font-size: 25px;
        text-align: center;
        font-family: 'Sharky', sans-serif;
        color: black;
        cursor: pointer;
        transition: background-color 0.3s;
      
    }

    
    .journey:hover, .future:hover {
        background-color: #B22222; 
        color: white;
    }

    
    
    .hidden {
        display: none;
    }
    
    
  #summit
  {
     
        width: 250px; 
        padding: 15px; 
        margin: 10px;
        border-radius: 15px; 
        background-color: #f0f8ff;
        font-size: 25px;
        text-align: center;
        font-family: 'Sharky', sans-serif;
        color: black;
        cursor: pointer;
        transition: background-color 0.3s;


  }

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 10px 16px red;
    color: #333333;
    width: 800px
   
}
h1{

    text-align: center;
}
textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; 
    box-sizing: border-box;
}
#entries
{
    width: 400px; 
    padding: 15px; 
    margin: 0;
    border-radius: 15px; 
    background-color: #f0f8ff;
    font-size: 25px;
    font-family: 'Sharky', sans-serif;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    top: 10px;
    left: 10px; 
    position: fixed; 
    border: 3px solid red;
}




